<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.efficiclean"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:orientation="vertical">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GuestLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StaffLogin" />
        <activity android:name=".GuestHome" />
        <activity android:name=".StaffHome" />
        <activity android:name=".SupervisorHome" />
        <activity android:name=".GuestPleaseService" />
        <activity android:name=".GuestDoNotDisturb" />
        <activity android:name=".GuestCheckingOut" />
        <activity android:name=".ReportAbsences" />
        <activity android:name=".ApproveSevereMess" />
        <activity android:name=".BreakApproval" />
        <activity android:name=".CleanApproval" />
        <activity android:name=".HazardApprovalPage" />
        <activity android:name=".StaffRequestBreak" />
        <activity android:name=".StaffCurrentRoom" />
        <activity android:name=".ReportHazard" />
        <activity android:name=".ReportSevereMess" />
        <activity android:name=".TodaysTeams" />
        <activity android:name=".SupervisorApprovals" />
        <activity android:name=".TeamBreakApproval" />
        <activity android:name=".HazardApprovalsList" />
        <activity android:name=".SevereMessApprovalsList" />
        <activity android:name=".MapView"></activity>
    </application>

</manifest>